{% extends 'base.html' %}

{% block body %}
    {% if login_form.non_field_errors %}
    <ul class='form-errors col-md-offset-4 col-md-4'>
        {% for error in login_form.non_field_errors %}
            <p class="thumbnail text-center" style="color: #ff0000; font-size: large">{{ error }}</p>
        {% endfor %}
    </ul>
        <br><br><br>
{% endif %}
    <div class="container">
        <h2 id="sign-h">Log in</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in login_form %}
                <p id="sign-p">
                    {{ field.label_tag }}{{ field }}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}

            <center>
                <button type="submit" class="btn btn-success btn-lg">Log in</button>
            </center>
        </form>
        <a href="{% url 'user:signup' %}"><h4 class="text-center">Not Registered Yet? <br>Register here</h4></a>
    </div><br><br><br>
    <footer class="text-center" id="kompany-name"><span>&copy;</span> ShoppersPoint Inc.</footer>


{% endblock %}
