body {
    text-align: center;
    margin: 20px;
    padding-top: 10rem;
    background: #fff;
    overflow-x: hidden;
}

nav {
    background-color: rgb(12, 5, 114);
    min-height: 80px !important;
    padding-top: 15px;
}

input {
    text-align: left;
    min-width: 400px !important;
}

.icon-bar {
    background-color: #123123 !important;
}

nav input {
    margin-left: 80px;
}

div h2 {
    vertical-align: middle !important;
}

.vcenter {
    padding-top: 5%;
    vertical-align: middle !important;
}

.img-carousel {
    transform: scale(1.5, 1);
    min-height: 300px !important;
}

/*Start of product-slider*/
/*slider css*/
.slider {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px #ccc;
    margin-top: 2em;
}

.content {
    padding: 20px;
    text-align: center;
}

.content h2 {
    font-family: ubuntu monospace;
    margin-bottom: 30px;

}

.view {
    background: #2874F0;
    border: 1px solid #2874F0;
    color: #fff;
    font-family: roboto monospace;
    font-weight: 400;
    text-transform: uppercase;
    box-shadow: 0px 0px 2px 2px #ccc;
}

.product-slider {
    margin: 0px 1em 0px 0em !important;
}

/*slider css*/
/* carousel */
.media-carousel {
    margin-top: 2em;
    margin-bottom: 0;
    padding: 0px 10px 10px 10px;
}


.detail h5 {
    font-family: play;
    font-size: 15px;
}

.detail h6 {
    font-size: 15px;
    color: green;
    font-family: roboto;
}

/* pop image on hover */
.thumbnail img:hover {
    transform: scale(1.1);

}

.thumbnail img {
    height:200px;
    width:100%;
}

.category-name {
    margin-top: 125px;
}

/* price */
.text-muted {
    font-size: 20px;
    color: #000;
}

/* search.html list */
.list-group-item {
    margin: 2px;
}